@import '../../assets/styles/mixins';

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--todo-background);
  padding: 12px 22px;
  border-radius: 6px;
  margin-top: 30px;

  & > div {
    @include todo-checkbox;
    border: 1px solid var(--checkbox-border-color);
  }

  input {
    font-size: 14px;
    background-color: transparent;
    flex: 1;
    outline: none;
    caret-color: var(--bright-blue);
    color: var(--todo-color);
    padding-block: 10px;

    @include desktop {
      font-size: 18px;
    }

    &::placeholder {
      color: hsl(236, 9%, 61%);
    }
  }
}
