@mixin desktop {
  @media screen and (min-width: 578px) {
    @content;
  }
}

@mixin todo-checkbox {
  border-radius: 50%;
  width: 24px;
  aspect-ratio: 1 / 1;
  margin-top: -2px;
}

@mixin filter-option {
  font-size: 14px;
  font-weight: 700;
  color: var(--filter-color);
  cursor: pointer;
  transition: color 0.16s;
}
